:root {
  --paragraphPadding: 5px;
  --footerPadding: 6vh;
  --contentsPadding: 5vw;
  --headerTextColor: white;
  --bodyTextColor: white;
  --paragraphColor: white;
  --footerTextColor: #37E3AD;
  --backgroundColor: white;
  --hoverColor: white;
  --linkColor: light_blue;
  --activeColor: #333;
  --orangeColor: #F55926;
  --darkColor: white;
  --navColor: white;
  --textColorLight: white;
  --textColorDark: black;
  --greenPopColor: #39dba8;
  --primaryColor: #333;
}

/* nice orange color: #F9AA33 */
body {
	width: auto; 
	margin: auto;
	background-color: var(--backgroundColor);
	font-family: Arial, Helvetica, sans-serif;
}

#about_page p{
	color: var(--textColorDark);
}

#about_page h1{
	color: var(--textColorDark);
}

#home_page p {
	color: var(--textColorDark);
}

#home_page h1 {
	color: var(--textColorDark);
}

h1 {
	color: var(--orangeColor);
	text-transform: uppercase;
}



a:link {
  color: var(--linkColor);
}

/*
a:visited {
  color: green;
}
*/

/*
---------------------------------
---------------------------------
TOP HEADER
---------------------------------
---------------------------------
*/

.top_header {
 /* background-color: #58D68D;*/
  background-color: var(--primaryColor);
  width: 100%;
  height: 5em;
  font-size:3vw;
  position: relative;  

}

#top_header_txt {
  background-color: var(--greenPopColor);
  color: white;
  font-size: 4.5vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto 0 auto; /* Center the text container */
  padding: 10px;
  font-family: Agency FB, sans-serif;
  letter-spacing: 4px;
  width: 45%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: normal; /* This makes the cutout text possible */
  z-index:20;
  border-radius: 20px;
}



p {
	color: var(--paragraphColor);
	padding: var(--paragraphPadding)
}

footer {
	color: var(--footerTextColor);
	padding: 3px;
	position: fixed;
	left: 0;
	border-top: .1px solid #bbb;
	bottom: 0;
	width: 100%;
	background-color: var(--darkColor);
	text-align: center;
}

#mainContent {
	color: var(--textColorLight);
	padding-left: var(--contentsPadding);
	padding-right: var(--contentsPadding);
	padding-bottom: var(--footerPadding);
}

/*
---------------------------------
---------------------------------
NAVIGATION CSS
---------------------------------
---------------------------------
*/

nav select {
  display: none;
}


.navigation {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}

.navigation .mainTab {
  background-color: var(--greenPopColor);
  color: black;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding-left: 1vw;
	overflow: hidden;
	background-color: var(--navColor);
	font-family: sans-serif;
}

.navigation li {
	float: left;
	width: 120px;
}



/* Add a gray right border to all list items, except the last item (last-child) */
.navigation li:last-child {
	border-right: none;
}


.navigation li a {
	display: block;
	color: var(--textColorDark);
	text-align: center;
	padding: 10px 14px 10px 16px;
	height: 100%;
	margin: 5% 2% 5% 2%;
	text-decoration: none;
	font-weight: bold;
	border-radius: 20px;
}

/* Change the link color to white on hover */
.navigation li a:hover:not(.mainTab) {
	color: var(--hoverColor);
	background-color: #333;
}

/*
---------------------------------
---------------------------------
CARD CSS
---------------------------------
---------------------------------
*/

.row {
	padding-top: 3vh;
	padding-bottom: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 30%;
	border-radius: 10px;
	background-color: var(--darkColor);
}

/*
Add a shadow behind card and change pointer to click
*/
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5); 
	cursor: pointer;
}


.card img {
	border-radius: 5px 5px 0 0;
}

.card .container {
	padding: 2px 16px;
}

.card .container h2 {
	color: var(--greenPopColor);
	text-transform: uppercase;
}

.card .container p {
	color: var(--textColorDark);
	padding: 0;
}

/* When screen is below 700px wide */
@media (max-width:700px){
	
	#top_header_txt {
	  background-color: var(--greenPopColor);
	  color: white;
	  font-size: 4vw; /* Responsive font size */
	  font-weight: bold;
	  margin: 0 auto 0 auto; /* Center the text container */
	  padding: 10px;
	  font-family: Agency FB, sans-serif;
	  letter-spacing: 4px;
	  width: 45%;
	  text-align: center; /* Center text */
	  position: absolute; /* Position text */
	  top: 65%; /* Position text in the middle */
	  left: 50%; /* Position text in the middle */
	  transform: translate(-50%, -50%); /* Position text in the middle */
	  mix-blend-mode: normal; /* This makes the cutout text possible */
	  z-index:20;
	  border-radius: 20px;
	}
		
	.row {
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between
	}
	
	.row .card {
		margin: 2vh 0 2vh 0;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 100%;
		border-radius: 10px;
		background-color: var(--darkColor);
	}
	
	.content_card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		margin: 3vh 0 3vh 0;
		border-radius: 10px;
		background-color: var(--darkColor);
	}
	
	.content_card .container {
		padding: 0;
		width:100%
	}
	
	nav ul     { display: none; }
	nav select { 
		  display: block; 
		  width: 100%;
		  height: 30px;
		  font-size: 100%;
		  font-weight: normal;
		  cursor: pointer;
		  background-color: #333;
		  border: none;
		  border-bottom: .1px solid #333;
		  color: var(--textColorLight);
		  color: var(--textColorLight);
		  padding: 2px 2px 2px 10px;
		  border-radius: 0;
		  appearance: none;
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  /* Adding transition effect */
		  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
		  
	}
	/* For IE <= 11 */
	nav select::-ms-expand {
	  display: none; 
	}
	
	
	nav select:hover,
	select:focus {
	  outline: none;
	  border-color: #333;
	  background-color: #ddd;
	  color: black;
	}
	
	

	
	/* turn it off completely 
	nav select:active, select:hover {
	  outline: none
	}
	
	nav select:active, select:hover, select:focus {
		background-color: var(--greenPopColor);
		outline-color: red
	}
	*/

}

/* When screen is above 701px wide */
@media (min-width:701px){
	.content_card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 80%;
		margin: 3vh 10% 0 10%;
		border-radius: 10px;
		background-color: var(--darkColor);
	}
}

/*
---------------------------------
---------------------------------
CONTENT CARD CSS
---------------------------------
---------------------------------
*/

/*
Add a shadow behind card and change pointer to click
*/
.content_card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}


.content_card img {
	/*border-radius: 5px 5px 5px 5px;*/
	width: 100%;
}

.content_card .container {
	padding: 5px;
}

.content_card .container h2 {
	color: var(--greenPopColor);
	text-transform: uppercase;
	text-align: center;
}

.content_card .container p {
	color: var(--textColorDark);
	padding-left: 10vw;
	padding-right: 10vw;
	text-align: left;
}